.section-perfiles{
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
}
.section-perfiles .titulo-perfiles{
    width: 100%;
    height: 65px;
    background-color: #b4b3b3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-perfiles .label-perfil{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 95px;
}
/*FORM*/
.form-perfil-conteiner{
    width: 100%;
    height: 130px;
    /* background-color: #ffb0b0; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-perfil-conteiner .form-perfil{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 85px;
    justify-content: center;
    align-items: center;
}
/*Input*/
.form-perfil-conteiner .form-perfil .input-conteiner{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.form-perfil-conteiner .form-perfil .input-conteiner input{
    width: 550px;
    height: 55px;
    padding-left: 25px;
    border-radius: 12px;
    border:none;
    font-size: medium;
    border: 1px solid #b4b3b3;
    font-weight: bold;
}
/*Botones*/
.form-perfil-conteiner .form-perfil .btn-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    padding-top: 30px;
}
.form-perfil-conteiner .form-perfil .btn-cont .btn-agregar{
   width: 155px;
   height: 45px;
   border: none;
   border-radius: 20px;
   background-color: #05aa05;
   color: #fff;
   font-size: medium;
   cursor: pointer;
}
.form-perfil-conteiner .form-perfil .btn-cont .btn-agregar:hover{
   background-color: #068506;
   
}
.form-perfil-conteiner .form-perfil .btn-cont .btn-cancel{
    width: 155px;
    height: 45px;
    border: none;
    border-radius: 20px;
    background-color: #aa2b05;
    color: #fff;
    font-size: medium;
    cursor: pointer;
 }
 .form-perfil-conteiner .form-perfil .btn-cont .btn-cancel:hover{
    background-color: #852e06;
    
 }
 /*TABLA PERFILES*/
 .tablaPerfiles-Cont{
    width: 100%;
    height: 40%;
    padding: 0px 250px;
    /* border: 1px solid #000; */
 }
 .tablaPerfiles-Cont .table-title{
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .tablaPerfiles-Cont .tablaperfiles{
    border: 1px solid #000;
    width: 100%;
    height: 100%;
    
 }
 /* MODAL */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    background-color: #fff;
    width: 40%;
    padding: 30px;
    z-index: 1000;
    border-radius: 20px;
}

/* Estilos para el fondo oscuro */
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 0;
}

.modal form input{
    height: 25px;
    padding: 20px;
    border-radius: 35px;
    word-break:break-all;

}
.modal form .btn-cont{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal form .btn-ind{
    border-radius: 25px;
    background: #0575E6;
    color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    font-family:Verdana;
    font-style: italic;
    font-size: 14px;
    font-weight: 600;
    width: 180px;
    height: 30px;
    margin: 30px 0;
}
.modal .btn-cerrar{
    border-radius: 25px;
    background: #970404;
    color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    font-family:Verdana;
    font-style: italic;
    font-size: 14px;
    font-weight: 600;
    width: 110px;
    height: 28px;
}
/* FORMULARIO */
.modal .formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    
  }
  .modal .formulario .form_contenedor{
    padding-top: 30px;
    display: grid; 
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    height: 100%;
  }
  .modal .formulario .form_contenedor .form_group1{
      display: grid;
      grid-row-start: 1;
      grid-column-start: 1;
      grid-row-end: 3;
      grid-column-end: 2;

      gap: 45px;

}
.modal .formulario .form_contenedor .form_group1 .form_input{
    width: 100%;
    height: 40px;
    border-radius: 25px;
    background: #D9D9D9;
    border: none;
    padding-left: 15px;

}
.modal .formulario .form_contenedor .form_group2{
    display: grid; 
    gap: 45px;
    grid-row-start: 1;
    grid-column-start: 2;
      
      grid-row-end: 3;
      grid-column-end: 3;
  }
  .modal .formulario .form_contenedor .form_group2 .form_input{
    width: 100%;
    height: 40px;
    border-radius: 25px;
    background: #D9D9D9;
    border: none;
    padding-left: 15px;
  }
  .modal .formulario .form_contenedor .form_group3{
    grid-row-start: 3;
   grid-column-start: 1;

   grid-row-end: 4;
   grid-column-end: 3;
   margin-top: 30px;
  }
  .modal .formulario .form_contenedor .form_group3 input{
    width: 100%;
    height: 40px;
    border-radius: 25px;
    background: #D9D9D9;
    border: none;
    padding-left: 25px;
    font-family: verdana;
    font-weight: 550;
  }
  .modal .formulario  .form_btn{
    width: 150px;
    height: 47px;
    border-radius: 25px;
    background: #0575E6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    color: #fff;
    font-family:Verdana;
    font-weight: 700;
    cursor: pointer;
}
.form_sectionRe .form_contenedorRe .form_parte2Re .formulario .form_btn:hover{
    background: #03509d;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
 }
  /* FIN Formulario */