.section-personal{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
}
.section-personal label{
    font-size: 18px;
    font-weight: 450;
}
.section-personal .titulo-personal{
    width: 100%;
    height: 65px;
    background-color: #b4b3b3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-personal .busqueda_container{
    width: 100%;
    height: 30%;
    border-bottom: 1px solid black;
    padding: 25px 60px;

}

.busqueda_container .busqueda{
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 85px;
}
.busqueda .busqueda_por_numero{
    width: 35%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.busqueda .busqueda_por_numero input{
    width: 35%;
    height: 45px;
    font-weight: bold;
    font-size: 20px;
    
}
.busqueda .busqueda_por_numero .inputNumero{
    
    height: 35px;
    border: none;
    text-align: center;
    font-weight: bold;
    font-size: 16px;

}

/*----- busqueda por nombre----*/

.busqueda .busqueda_por_nombre{
    /* border: 1px solid black; */
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    padding: 0px 10px 20px 10px;
}
.busqueda .busqueda_por_nombre .nombresEmpleado{
    height:45px;
    border-style: dashed;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    padding: 0px 25px;  
}
.busqueda .busqueda_por_nombre .nombresEmpleado .optionempleado{
    font-size: 17px;
}

/*informacion de los empleados*/
.informacion_empleados{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
}
.contenedor-inputs{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 15px; 
}
.contenedor-inputs .info-inputs{
   /* border: 1px solid black;   */
   display: flex;
   justify-content:space-around;
   flex-direction: column;
   padding: 20px 50px;

}

.contenedor-inputs .in-inputs{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contenedor-inputs .in-inputs input{
    width: 100%;
    height: 45px;
    padding-left: 25px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
    border: 0.5px solid #000;
}