.section-inicio{
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url("/static/img/calibre_triton_0320_242.webp");
    /* object-fit: cover;
    object-position: center; */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section-inicio .opacidad{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 1;
}
.section-inicio .titulo-principal{
    position: relative;
    z-index: 2;
    color: #fff;
}
.section-inicio .titulo-principal h2{
    font-size: 85px;
    
}
.section-inicio .titulo-principal h3{
    font-size: 70px;
}

