{% extends "layout.html" %}
{% block heading %} Gestion de perfiles {% endblock %}

{% block main %}
<section class="section-perfiles">
    <div class="titulo-perfiles">
        <h1>Gestion de perfiles de usuario</h1>
    </div>
    <div class="form-perfil-conteiner">
        <form class="form-perfil" action="/gestionperfiles" method="post">
            <div class="input-conteiner">
                <label for="">Nombre del perfil</label>
                <label for="error">{{error}}</label>
                <input type="text" name="nombre-perfil" id="nombrePerfil" placeholder="Ingrese nombre del perfil"> 
            </div>
            <div class="btn-cont">
                <button class="btn-agregar" type="submit">Agregar</button>
                <button class="btn-cancel" id="cancelar" type="reset">cancelar</button>
            </div>
        </form>
    </div>
    {% if request.method == 'GET' or reque.method == 'POST' %}
    <div class="tablaPerfiles-Cont">
        <div class="table-title">
            <h3>Listado de perfiles de usuario</h3>
        </div>
        <div class="tablaperfiles">
            <table class="table" id="tablaPerfiles">
                <thead>
                    <tr>
                        <th>ID Perfil</th>
                        <th>Nombre Perfil</th>
                    </tr>
                </thead>
                    <tbody>
                        {% for perfil in perfiles %}
                        <tr>
                            <!-- <input type="hidden" name="id_perfil" id="#" value="{{ perfil[0] }}"> -->
                            <td>{{ perfil[0] }}</td>
                            <td>{{ perfil[1] }}</td>
                            <td>
                                <button onclick="abrirModalPerfil()" name="btnConperfilID" value="{{ perfil[0] }}" class="perfil_info_btn">Editar</button>
                            </td>
                            <td>
                                <form action="/eliminar_perfil" method="post">
                                    <input type="hidden" name="id_perfil" id="#" value="{{ perfil[0] }}">
                                    <button type="submit">Eliminar</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}    

                    </tbody>
                </table>
                <!-- Modal Overlay -->
                <div id="modalOverlay" class="modal-overlay"></div>
                
                <!-- Modal -->
                <div id="myModalPerfil" class="modal">
                    <div>
                        <h1 class="title-modal">Editar perfil</h1>
                        <form action="/editar_perfil" method="post" class="box">
                           
                            <label>Nombre Perfil</label>
                            <input type="hidden" id="id_perfil" name="id_perfil">
                            <input type="text" name="nuevo_nombrePerfil" id="nuevo_perfil" />
                            
                            <div class="btn-cont">
                                <button class="btn-ind" type="submit">Actualizar</button>
                            </div>    
                            
                        </form>
                        <button onclick="cerrarModalPerfil()" class="btn-cerrar">Cerrar</button>
                    </div>
                </div>
            </div>
            
        </div>
        {% endif %}
    
</section>
{% endblock %}