{% extends "layout.html" %}
{% block heading %} Gestion de usuarios {% endblock %}

{% block main %}
<section class="section-usuarios">
    <div class="titulo-usuarios">
        <h1>Gestion de usuarios</h1>
    </div>

    <div class="separacion-container">
        <div class="table-container">
            <table class="tabla_usuarios table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Nombre de usuario</th>
                        <th>Clave</th>
                        <th>Perfil</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios%}
                    <tr>
                        <td>{{usuario[1]}}</td>
                        <td><button>Cambiar clave</button></td>
                        <td>{{usuario[5]}}</td>
                        {%endfor%}
                    </tr>
                    
                </tbody>
            </table>
        </div>
        <div class="form_container">
            <div class="img-cont">
                <img src="/static/img/image004.png" alt="">
            </div>
           <form action="/gestionusuarios" method="post" class="form-usuario">
            <div class="inputs-container">
                <label>{{duplicado}}</label>
                <label for="">Usuario</label>
                <input type="text" name="usuario" class="input1">
            </div>
            <div class="inputs-container">
                <label for="">Clave</label>
                <input type="password" name="clave" class="input1">
            </div>
            <div class="inputs-container">
                <label for="">perfil</label>
                <select class="select" name="idperfilselect">
                    {% for perfil in Perfiles %}
                    <option name="idperfilselect" value="{{perfil.perfilid}}">{{perfil[1]}}</option>
                    
                    {% endfor %}

                </select>
            </div>
            <div class="btn_form">
                <button class="btn-agregar" type="submit">Agregar</button>
            </div>
           </form> 
        </div>
    </div>
</section>
{% endblock %}
