<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/LOGO_EDU-ADMIN sin fondo.png">
    <!-- links para archivos css -->
    <link rel="stylesheet" href="../static/css/login.css">
    <!-- Fin links de archivos css -->
    <title>iniciar Sesión</title>
</head>
<body>
    <header class="headerIn">
        <nav class="navIn">
            <img class="logo" src="../static/img/eduadmin logo.png" alt="">
            <ul class="links">
                <li class="items"><h2 class="item">Sistema de gestión de viaticos</h2></li>
            </ul>
        </nav>
    </header>
    <section class="form_section">
        <label class="error" for="">{{error}}</label>
        <div class="form_contenedor">
            <div class="form_parte1">
                <div class="form_items">
                    <img class="parte1_img" src="../static/img/LOGO_EDU-ADMIN sin fondo.png" alt="">
                    <h3 class="parte1_txt">¡Gestiona los viaticos con facilidad!</h3>
                    
                </div>
            </div>
            <div class="form_parte2">
            <div class="form_items2">
                <form class="formulario" action="/" method="post">
                    <h3 class="parte2_txt">Iniciar Sesión</h3>
                    <img class="parte2_img" src="../static/img/perfil-del-usuario.png" alt="">
                    <div class="form_group">
                        <label for="">Nombre de usuario</label>
                        <div>
                            <img src="/s" alt="">
                        </div>
                        <input class="form_input" type="text" name="usuario" placeholder="Ingrese su nombre de usuario   ">
                    </div>
                    <div class="form_group"> 
                        <label for="">Clave</label>
                        <input class="form_input" type="password" name="clave" placeholder="Ingrese su clave">
                    </div>
                    <button class="form_btn" type="submit">Iniciar Sesión</button>
                </form>
            </div>
            </div>
        </div>
    </section>
</body>
</html>